<section class="hero" style="--hero-bg: url('<%= asset_path("hero-room.webp") %>');">
  <div class="container hero__inner">
    <div class="hero__content">
      <div class="hero__eyebrow">
        <span class="hero__eyebrow-badge">
          <span class="hero__eyebrow-icon">
            <%= inline_svg_tag "icons/brands.svg" %>
          </span>
          <span class="hero__eyebrow-text">Популярные бренды</span>
        </span>
      </div>

      <h1 class="hero__title">
        Современные двери для квартиры, дома и офиса
      </h1>

      <div class="hero__text">
        <div class="hero__text-item">
          <%= inline_svg_tag "icons/premium_eco.svg" %>
          <span>Премиум и эконом класс</span>
        </div>

        <div class="hero__text-item">
          <%= inline_svg_tag "icons/quality_inst.svg" %>
          <span>Качественная установка</span>
        </div>

        <div class="hero__text-item">
          <%= inline_svg_tag "icons/warranty.svg" %>
          <span>Гарантия</span>
        </div>
      </div>

      <div class="hero__actions">
        <a href="#catalog" class="btn btn__hero-primary">Смотреть каталог</a>
        <%= render "shared/call_dropdown" %>
      </div>
    </div>
  </div>
</section>
