<main data-controller="catalog-animation">
  <%= render "products/hero" %>
  <%= render "products/benefits" %>
  <%= render "products/popular_categories", featured_categories: @featured_categories %>
  <%= render "products/catalog", brand_links: @brand_links %>
  <%= render "products/how_to_order", steps: @steps %>
  <%= render "shared/catalog_animation_layer" %>
</main>
