<main data-controller="catalog-animation">
  <%= render "products/hero" %>
  <%= render "products/benefits" %>
  <%= render "products/popular_categories", featured_categories: @featured_categories %>
  <%= render "products/catalog" %>
  <%= render "shared/how_to_order" %>
  <%= render "shared/catalog_animation_layer" %>
</main>
